Package: libpcap0.8-dbg
Source: libpcap
Version: 1.8.1-3vyatta11
Architecture: amd64
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 411
Depends: libpcap0.8 (= 1.8.1-3vyatta11)
Section: debug
Priority: extra
Multi-Arch: same
Homepage: http://www.tcpdump.org/
Description: debugging symbols for libpcap0.8
 libpcap (Packet CAPture) provides a portable framework for low-level
 network monitoring.  Applications include network statistics collection,
 security monitoring, network debugging, etc.
 .
 This package contains the debugging symbols for the libpcap library.
Build-Ids: dd78889f72bdb18f872ad58bbec84461623ed9c7
