Package: libpcap-dev
Source: libpcap
Version: 1.8.1-3vyatta11
Architecture: all
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 26
Depends: libpcap0.8-dev
Section: libdevel
Priority: optional
Homepage: http://www.tcpdump.org/
Description: development library for libpcap (transitional package)
 Empty package to facilitate upgrades, can be safely removed.
